* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.account {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    color: white;
    box-shadow: 1px 1px 5px black;
}

.account:hover {
    box-shadow: 2px 2px 10px black;
}

.account-details-header {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    color: white;
}

.account-balance {
    font-size: 2em;
    margin: 0px;
}

.account-link {
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create {
    margin-bottom: 15px;
        margin-left: 28px;
}

.credit-transaction {
    color: green;
}

.debit-transaction {
    color: red;
}

.loan {
    background: linear-gradient(45deg, #ee09cf, #0026ff);
    color: white;
}

.menu-logo {
    width: 162px;
    height: 97px;
}

.welcome {
background: rgb(108,108,107);
background: linear-gradient(356deg, rgba(108,108,107,1) 13%, rgba(174,183,198,1) 30%, rgba(234,236,236,1) 62%);
}

.welcome-logo {
    width: 60%;
}

.index-body {
    background-image: url(../img/home_banking_img.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.index-container {
    margin-top: 10%;
}

.rounded-5 {
    border-radius: 10px;
}
.bg-light {
    background-color: #f8f9faed!important;
}
.btn-light:hover {
    color: #474343;
    background-color: #1065d7;
    border-color: #f9fafb;
}
.btn-light {
    color: #000;
    background-color: #1977d5;
    border-color: #f8f9fa;
 }
body#accounts, body#cards, body#trasnfers, body#loan, body#account, body#create_cards{
             background: rgb(196,189,187);
             background: linear-gradient(356deg, rgba(196,189,187,0.7399334733893557) 15%, rgba(238,229,227,0.7903536414565826) 47%, rgba(182,171,166,0.7399334733893557) 84%);

             }


#logoAp{
    width: 150px;
    height: auto;
    margin: 2vh;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    border-radius: 10%;
}
img#logo,img#logo1,img#logo2,img#logo3,img#logo4 {
    width: 40px;
    margin: 15px;
}
/* footer */
.row#footer{
 background: rgb(196,189,187);
 background: linear-gradient(356deg, rgba(196,189,187,0.7399334733893557) 15%, rgba(25,25,24,0.7903536414565826) 47%, rgba(182,171,166,0.7399334733893557) 84%);
    margin-top:20px;
}
footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}

.row#banner {
    background-image: url(../img/computer_banner.jpg);
    background-size: cover; /* Esto asegura que la imagen cubra toda la altura y el ancho del contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    height: 300px; /* Ajusta la altura según lo que necesites */
    margin-top: 0px;
    position: relative; /* Cambiado de static a relative */
}


#footer a {
    color: white;
    text-decoration: none;
}
/* Reglas para visualización en celular */
@media screen and (max-width: 767px) {
    .menu-logo {
        width: 100%;
        max-width: 206px;
        height: auto;
        margin-left: 15%;
    }
}



footer#manual {
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #f8f9fa; /* Asegúrate de que el fondo sea visible */
    padding: 1rem 0;
}
/* Aseguramos que el contenedor #banner se ajuste a diferentes pantallas */
#banner {
    width: 100%;           /* El banner ocupará el 100% del ancho de la pantalla */

 }

 img#banking {
             width: 10%;
             margin:2%;
             margin-left:4%;
             height: auto;
             width-max:10%;
             width-min: 6%;
 }
 #welcome{
 margin: 1%;
 }



/* Ajustamos la imagen para que sea completamente responsiva */
#banking {
    max-width: 100%;       /* La imagen nunca será más grande que su contenedor */
    height: auto;          /* Mantener la proporción de la imagen */

}

/* Ajustamos el texto dentro del banner */
#welcome {
    font-size: 2em;         /* Tamaño de fuente grande para pantallas grandes */

}

/* Medias queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    #welcome {
        font-size: 1.5em;    /* Reducimos el tamaño del texto en pantallas pequeñas */
    }
     img#banking {
                 width: 40%;

     }


}

@media (max-width: 480px) {
    #welcome {
        font-size: 1.2em;    /* Tamaño de fuente aún más pequeño en dispositivos móviles */
    }
      img#banking {
                     width: 40%;

         }
}
